ul {
    position:fixed;
	width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-size:20px;
    opacity:0.7;    
}

li {
   float: left;
}

li a {
    display: block;
    font-family: Tahoma;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover
{opacity:1.0;}

li a:hover {
    background-color: #271A18;
	transition: background 1000ms ease-out;
}

ul:hover {
	transition: 1000ms ease-out;
	opacity:1.0;
}ul {
    position:fixed;
	width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-size:20px;
    opacity:0.7;    
}

li {
   float: left;
}

li a {
    display: block;
    font-family: Tahoma;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover
{opacity:1.0;}

li a:hover {
    background-color: #271A18;
	transition: background 1000ms ease-out;
}

ul:hover {
	transition: 1000ms ease-out;
	opacity:1.0;
}ul {
    position:fixed;
	width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-size:20px;
    opacity:0.7;    
}

li {
   float: left;
}

li a {
    display: block;
    font-family: Tahoma;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover
{opacity:1.0;}

li a:hover {
    background-color: #271A18;
	transition: background 1000ms ease-out;
}

ul:hover {
	transition: 1000ms ease-out;
	opacity:1.0;
}